
@{
    ViewBag.Title = "Index";
    Layout = null; 
}


<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>IndeX</title>"
</head>

<body>
    <h2>Ejercicios Varios</h2>
    <div>
        <ul>
            <li>@Html.ActionLink("Calcular Edad", "CalcularEdad")</li>
            <li>@Html.ActionLink("Calculadora", "CalculaNumeros")</li>
            <li>@Html.ActionLink("Conversiones", "Conversion")</li>
            <li>@Html.ActionLink("Descuento en COmpras", "Descuento")</li>
            <li>@Html.ActionLink("Estadísticas de Asignatura", "Estadistica")</li>
        </ul>
    </div>

</body>
</html>