
@{
    @*Aquí dejamos un comentario de Razor*@
    //Otra forma de poner un comentario
    /*y la última*/
    ViewBag.Title = "Index";
}

<h2>Index</h2> @ViewBag.Mensaje
<!--Y aquí volvemos a poner comentarios en html-->
@{
    string titulo = "Página Principal";
    int dia = DateTime.Now.Day;
    int mes = DateTime.Now.Month;
    int anio = DateTime.Now.Year;
    string cadena;
    if (dia > 15)
    {
        cadena = "Estamos es la segunda parte del mes";
    }
    else
    {
        cadena = "Estamos en la primer parte del mes";
    }
}
@* arroba/model MVC_RAZOR.Models.Libro*@

@model IEnumerable<MVC_RAZOR.Models.Libro>

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <ul>
        @foreach (var libro in Model)
        {
            <p>El titulo del libro es <strong>@libro.Titulo (@libro.TipoLibro)</strong></p>
        }
    </ul>

    <div>

        <h1>@titulo</h1>
        <p>Fecha:@dia/@mes/@anio</p>
        <p>@cadena</p>
    </div>
</body>
</html>